@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../data/assets/fonts/rubik/rubik-v31-hebrew_latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../data/assets/fonts/rubik/rubik-v31-hebrew_latin-500.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../data/assets/fonts/rubik/rubik-v31-hebrew_latin-700.woff2") format("woff2");
}
